<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-title *ngIf="!editBookingId">
      {{'New Booking.New Booking'|translate}}
    </ion-title>
    <ion-title *ngIf="editBookingId">
      {{'New Booking.Edit Booking'|translate}}
    </ion-title>
    <ion-buttons *ngIf="!editBookingId" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons *ngIf="editBookingId" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon (click)="submit()" class="sendbtn" name="send-sharp"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts" #slides>
    <ion-slide>
      <!-- <h1>Step 1</h1> -->
      <ion-card style="width: 100% !important">
        <ion-card-content>
          <form [formGroup]="bookingForm">
            <ion-item>
              <ion-label> {{'New Booking.PoL'|translate}}</ion-label>
              <ion-select
                placeholder="Select One"
                formControlName="loadingLocation"
                interface="action-sheet"
                mode="ios"
                (ionChange)="portChange($event, 'loadingLocation')"
              >
                <ion-select-option *ngFor="let item of locations" [value]="item"
                  >{{item.source}}
                </ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label> {{'New Booking.PoD'|translate}}</ion-label>
              <ion-select
                placeholder="Select One"
                formControlName="unLoadingLocation"
                interface="action-sheet"
                mode="ios"
                (ionChange)="portChange($event, 'unLoadingLocation')"
              >
                <ion-select-option
                  *ngFor="let item of locations; let i = index"
                  [value]="item"
                  >{{item.destination}}
                </ion-select-option>
              </ion-select>
            </ion-item>

            <div
              *ngIf="!!bookingForm.get( 'loadingLocation').value && !!bookingForm.get( 'unLoadingLocation').value"
            >
              <!-- <div> -->
              <h5>
                &nbsp;&nbsp;
                <ion-icon
                  name="remove-circle-outline"
                  *ngIf="noOfTrucks.length>1"
                  style="color: black"
                  (click)="decreaseCount('truck')"
                ></ion-icon>
                <ion-icon
                  name="add-circle-outline"
                  (click)="increaseCount('truck')"
                  style="color: black"
                ></ion-icon>
                &nbsp;Vehicles:
              </h5>

              <div *ngFor="let item of noOfTrucks let i = index">
                <ion-item>
                  <ion-label
                    >{{'New Booking.category of Vehicle'|translate}}</ion-label
                  >
                  <ion-select
                    formControlName="vehicleCategory"
                    placeholder="Select Truck"
                    interface="action-sheet"
                    mode="ios"
                    (ionChange)="trucksLoader($event)"
                  >
                    <ion-select-option value="Open Truck"
                      >Open Truck</ion-select-option
                    >
                    <ion-select-option value="Container"
                      >Container</ion-select-option
                    >
                    <ion-select-option value="Trailer"
                      >Trailer</ion-select-option
                    >
                  </ion-select>
                </ion-item>
                <ion-item *ngIf="!!bookingForm.get( 'vehicleCategory').value">
                  <ion-label> {{'New Booking.Vehicles'|translate}}</ion-label>
                  <ion-select
                    placeholder=" Select One"
                    interface="action-sheet"
                    formControlName="refReferenceListVehicleTypeId"
                    mode="ios"
                    (ionChange)="getSelectedTrucks($event)"
                  >
                    <ion-select-option
                      *ngFor="let item of vehicleTypes"
                      [value]="item.referenceListId"
                      >{{item.referenceListIdName}}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
              </div>

              <div

              >
                <ion-item *ngIf="!!bookingForm.get( 'refReferenceListVehicleTypeId').value">
                  <ion-label>{{'New Booking.Material'|translate}}</ion-label>
                  <ion-select
                    placeholder=" Select Material"
                    interface="action-sheet"
                    formControlName="refMaterialRefListId"
                    mode="ios"
                    (ionChange)="getSelectedMaterial($event)"
                  >
                    <ion-select-option
                      *ngFor="let item of materials"
                      [value]="item.referenceListId"
                      >{{item.referenceListIdName}}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item *ngIf="!!bookingForm.get( 'refMaterialRefListId').value">
                  <ion-label> {{'New Booking.Total Qty'|translate}}</ion-label>
                  <ion-input
                    formControlName="totalQty"
                    type="number"
                    placeholder="Ton"
                  ></ion-input>
                </ion-item>
                <ion-item  *ngIf="!!bookingForm.get( 'totalQty').value">
                  <ion-label>
                    {{'New Booking.Estimated Loading
                    Time'|translate}}</ion-label
                  >
                <!-- </ion-item>
                <ion-item> -->
                  <!-- <ion-datetime
                    formControlName="estimatedLoadingTime"
                    display-timezone="utc"
                    (ionChange)="goToStepTwo()"
                  ></ion-datetime> -->
                  <ion-datetime-button
                    datetime="datetime"
                    displayFormat="DD/MM/YYYY"
                  ></ion-datetime-button>

                  <ion-modal [keepContentsMounted]="true" #modal>
                    <ng-template>
                      <ion-datetime
                        id="datetime"
                        presentation="date"
                        display-timezone="utc"
                        formControlName="estimatedLoadingTime"
                        button="true"
                        detail="false"
                        [showDefaultButtons]="true"
                        (ionChange)="goToStepTwo()"
                        [min]="minDate"
                      ></ion-datetime>
                    </ng-template>
                  </ion-modal>
                </ion-item>
                <ion-item class="form-item" *ngIf="!!bookingForm.get( 'totalQty').value">
                  <ion-label>
                    {{'New Booking.Rate per Ton'|translate}}</ion-label
                  >
                  <ion-select
                    placeholder="Select One"
                    formControlName="rateId"
                    interface="action-sheet"
                    mode="ios"
                    [disabled]="false"
                  >
                    <ion-select-option
                      *ngFor="let item of rateDetails"
                      [value]="item.rateId"
                      >{{item.amount}}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item *ngIf="!!bookingForm.get( 'totalQty').value">
                  <ion-label>
                    {{'New Booking.Booking Date'|translate}}</ion-label
                  >
                <!-- </ion-item>
                <ion-item> -->
                  <ion-datetime-button
                    datetime="datetime1"
                    displayFormat="DD/MM/YYYY"
                  ></ion-datetime-button>

                  <ion-modal [keepContentsMounted]="true" #modal>
                    <ng-template>
                      <ion-datetime
                        id="datetime1"
                        presentation="date"
                        display-timezone="utc"
                        formControlName="bookingDate"
                        button="true"
                        detail="false"
                        [showDefaultButtons]="true"
                        [min]="minDate"
                      ></ion-datetime>
                    </ng-template>
                  </ion-modal>
                  <!-- <ion-datetime
                    formControlName="bookingDate"
                    display-timezone="utc"
                    (ionChange)="goToStepTwo()"
                  ></ion-datetime> -->
                </ion-item>
              </div>
            </div>
          </form>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card style="width: 100% !important">
        <ion-card-content>
          <form [formGroup]="bookingForm">
            <ion-item class="form-item" *ngIf="showbId">
              <ion-label> {{'New Booking.Booking ID'|translate}}:</ion-label>
              <ion-input
                type="text"
                formControlName="value"
                [disabled]="true"
              ></ion-input>
            </ion-item>
            <div *ngFor="let item of noOfPol let i=index">
              <ion-item>
                <ion-icon
                  name="remove-circle-outline"
                  *ngIf="i>0"
                  style="color: black"
                  (click)="decreaseCount('pol')"
                ></ion-icon>
                <ion-icon
                  name="add-circle-outline"
                  (click)="increaseCount('pol')"
                  style="color: black"
                ></ion-icon>
                <ion-label>
                  &nbsp;&nbsp; {{'New
                  Booking.POL'|translate}}&nbsp;&nbsp;</ion-label
                >
                <ion-input
                  type="text"
                  placeholder="select"
                  (click)="popover('pol')"
                  >&nbsp;&nbsp;{{polAddress[i]}}</ion-input
                >
              </ion-item>
            </div>
            <div *ngFor="let item of noOfPod let i = index">
              <ion-item>
                <ion-icon
                  name="remove-circle-outline"
                  *ngIf="i>0"
                  style="color: black"
                  (click)="decreaseCount('pod')"
                ></ion-icon>
                <ion-icon
                  name="add-circle-outline"
                  (click)="increaseCount('pod')"
                  style="color: black"
                ></ion-icon>
                <ion-label>
                  &nbsp;&nbsp; {{'New
                  Booking.POD'|translate}}&nbsp;&nbsp;</ion-label
                >
                <ion-input
                  type="text"
                  placeholder="select"
                  (click)="popover('pod')"
                  >&nbsp;&nbsp;{{podAddress[i]}}</ion-input
                >
              </ion-item>
            </div>
            <ion-item>
              <ion-label>
                {{'New Booking.Estimated Unloading Time'|translate}}</ion-label
              >
            <!-- </ion-item>
            <ion-item> -->
              <!-- <ion-datetime
                formControlName="estimatedUnloadingTime"
                display-timezone="utc"
              ></ion-datetime> -->
              <ion-datetime-button
                datetime="datetime"
                displayFormat="DD/MM/YYYY"
              ></ion-datetime-button>

              <ion-modal [keepContentsMounted]="true" #modal>
                <ng-template>
                  <ion-datetime
                    id="datetime"
                    presentation="date"
                    display-timezone="utc"
                    formControlName="estimatedUnloadingTime"
                    button="true"
                    detail="false"
                    [showDefaultButtons]="true"
                    [min]="minDate"
                  ></ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-item>
            <ion-item>
              <ion-label> {{'New Booking.Consigner'|translate}}</ion-label>
              <ion-select
                placeholder="Select Consigner"
                interface="action-sheet"
                formControlName="refConsignerID"
                mode="ios"
              >
                <ion-select-option
                  *ngFor="let item of consigners"
                  [value]="item.consignerId"
                  >{{item.name}}</ion-select-option
                >
              </ion-select>
            </ion-item>
          </form>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
